<%= form_for(user_blood_donator) do |f| %>
<% if user_blood_donator.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user_blood_donator.errors.count, "error") %> prohibited this user_blood_donator from being saved:</h2>

  <ul>
    <% user_blood_donator.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="Container">
  <div class="Container-header">
    <div class="Grid">
      <div class="Grid-cell u-sizeFull">
        <h3 class="Container-header-text"> Cadastro de doador </h3>
      </div>
    </div>
  </div>

  <div class="Container-section">

    <div class="Form Form--fluid">
      <div class="Grid">


        <!-- NAME -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Nome: </span>
            <%= f.text_field :name, class: "Form-inputValue u-size10of12" %>
          </div>
        </div>


        <!-- CPF -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">CPF: </span>
            <%= f.text_field :cpf, class: "Form-inputValue" %>
          </div>
        </div>


        <!-- EMAIL -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Email: </span>
            <%= f.text_field :email, class: "Form-inputValue" %>
          </div>
        </div>


        <!-- PHONE -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Telefone: </span>
            <%= f.text_field :phone, class: "Form-inputValue" %>
          </div>
        </div>

        <!-- DATA OF BIRTH-->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Data de nascimento: </span>
            <%= f.text_field :date_birth, class: "Form-inputValue" %>
          </div>
        </div>


        <!-- BLOOD TYPE -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Tipo sanguíneo: </span>
            <%= f.select :blood_type, ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'], { include_blank: "Não sei" },  { class: "Form-inputValue u-size10of12" } %>
          </div>
        </div>


        <!-- PASSWORD -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Senha: </span>
            <%= f.text_field :password, class: "Form-inputValue" %>
          </div>
        </div>


        <!-- PASSWORD CONFIRMATION -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Confirmação de senha: </span>
            <%= f.text_field :password, class: "Form-inputValue" %>
          </div>
        </div>


        <!-- LAST DONATION -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Ultima doação: </span>
            <%= f.text_field :last_donation, class: "Form-inputValue" %>
          </div>
        </div>


        <!-- GENDER -->
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Sexo: </span>
            <div class="Radio">
              <%= label_tag(:genre, "Masculino") %>
              <%= radio_button_tag :genre, "masculino", false, class: "Radio-label" %>
              <%= label_tag(:genre, "Feminino") %>
              <%= radio_button_tag :genre, "feminino", false, class: "Radio-label" %>
            </div>
          </div>
        </div>

        <div class="Form-group">
          <div class="Checkbox">
            <%= check_box_tag(:notification, 'accepted', false, disable:false) %>
          </div>
          <div class="Checkbox">
            <%= label_tag(:notification, "Desejo receber notificações") %>
          </div>
        </div>

        <div class="Form-group">
          <div class="Checkbox">
            <div class="Checkbox-input">
              <%= check_box_tag(:accept_terms) %>
            </div>
            <div class="Checkbox-label">
              <%= label_tag(:accept_terms, "Aceito os termos de uso") %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.submit "Cadastrar", class: "Button Button--medium is-actived" %>
    <%= f.submit "Limpar", class: "Button Button--medium" %>

  </div>

</div>


<% end %>
