<p id="notice"><%= notice %></p>

<h1>Doador</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date birth</th>
      <th>Cpf</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Password</th>
      <th>Blood type</th>
      <th>Admin</th>
      <th>Receive notification</th>
      <th>Last donation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_blood_donators.each do |user_blood_donator| %>
      <tr>
        <td><%= user_blood_donator.name %></td>
        <td><%= user_blood_donator.date_birth %></td>
        <td><%= user_blood_donator.cpf %></td>
        <td><%= user_blood_donator.email %></td>
        <td><%= user_blood_donator.phone %></td>
        <td><%= user_blood_donator.password %></td>
        <td><%= user_blood_donator.blood_type %></td>
        <td><%= user_blood_donator.admin %></td>
        <td><%= user_blood_donator.receive_notification %></td>
        <td><%= user_blood_donator.last_donation %></td>
        <td><%= link_to 'Show', user_blood_donator %></td>
        <td><%= link_to 'Edit', edit_user_blood_donator_path(user_blood_donator) %></td>
        <td><%= link_to 'Destroy', user_blood_donator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New user_blood_donator', new_user_blood_donator_path %>
