<%= form_for(donator) do |f| %>
<% if donator.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(donator.errors.count, "error") %> prohibited this donator from being saved:</h2>

  <ul>
    <% donator.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="Container">
  <div class="Container-header">
    <div class="Grid">
      <div class="Grid-cell u-sizeFull">
        <h3 class="Container-header-text"> Cadastro de doador </h3>
      </div>
    </div>
  </div>

  <div class="Container-section">

    <div class="Grid">
      <!--  1 Enter = divisão de coluna | 2 Enters = divisão de linha -->

      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Nome: </span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :name, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">CPF: </span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :cpf, class: "Input Input-value" %>
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Email:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :email, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Telefone: </span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :phone, class: "Input Input-value" %>
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Data de nascimento:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :date_birth, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-size6of12">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Tipo sanguíneo:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.select :blood_type,
            ['Não sei', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']%>
            <!-- <%= f.text_field :blood_type, class: "Input Input-value" %> -->
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Senha:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :password, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-size6of12">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Confirmar senha:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <!-- Criar confirmação de senha -->
            <%= f.text_field :password, class: "Input Input-value" %>
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">CEP:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :cep, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-size6of12">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Estado:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :state, class: "Input Input-value" %>
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Cidade:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :city, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-size6of12">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Bairro:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :district, class: "Input Input-value" %>
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size9of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Rua:</span>
          </div>
          <div class="Grid-cell u-size9of12">
            <%= f.text_field :street, class: "Input Input-value" %>
          </div>
        </div>
      </div>

      <div class="Grid Grid-cell u-size3of12">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Nº:</span>
          </div>
          <div class="Grid-cell u-size3of12">
            <%= f.text_field :number, class: "Input Input-value" %>
          </div>
        </div>
      </div>


      <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
        <div class="Grid">
          <div class="Grid-cell u-size2of12">
            <span class="Input Input-label">Ultima doação:</span>
          </div>
          <div class="Grid-cell u-size10of12">
            <%= f.text_field :last_donation, class: "Input Input-value" %>
          </div>
        </div>
      </div>
    </div>


    <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
      <div class="Grid">
        <div class="Grid-cell u-size10of12">
          <div class="Checkbox">
            <div class="Checkbox-input">
              <%= check_box_tag(:receive_notification) %>
            </div>
            <div class="Checkbox-label">
              <%= label_tag(:receive_notification, "Desejo receber notificações") %>
            </div>
          </div>
          

          <div class="Checkbox">
            <div class="Checkbox-input">
              <%= check_box_tag(:receive_notification) %>
            </div>
            <div class="Checkbox-label">
              <%= label_tag(:receive_notification, "Aceito os termos de uso") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="Grid">
    <div class="actions">
      <div class="Grid-cell u-size1of2">
        <%= f.submit "Cadastrar", class: "Button Button--medium is-actived" %>
      </div>
      <div class="Grid-cell u-size1of2">
        <%= f.submit "Limpar", class: "Button Button--medium" %>
      </div>
    </div>
  </div>
</div>
</div>

<% end %>
