<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donator.name %>
</p>

<p>
  <strong>Date birth:</strong>
  <%= @donator.date_birth %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @donator.cpf %>
</p>

<p>
  <strong>Street:</strong>
  <%= @donator.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @donator.district %>
</p>

<p>
  <strong>Number:</strong>
  <%= @donator.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @donator.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @donator.state %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @donator.cep %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donator.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @donator.phone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @donator.password %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @donator.blood_type %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @donator.admin %>
</p>

<p>
  <strong>Receive notification:</strong>
  <%= @donator.receive_notification %>
</p>

<p>
  <strong>Last donation:</strong>
  <%= @donator.last_donation %>
</p>

<%= link_to 'Edit', edit_donator_path(@donator) %> |
<%= link_to 'Back', donators_path %>
