<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_blood_bank.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_blood_bank.email %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @user_blood_bank.cnpj %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_blood_bank.password %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @user_blood_bank.cep %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user_blood_bank.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @user_blood_bank.district %>
</p>

<p>
  <strong>Number:</strong>
  <%= @user_blood_bank.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_blood_bank.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_blood_bank.state %>
</p>

<%= link_to 'Edit', edit_user_blood_bank_path(@user_blood_bank) %> |
<%= link_to 'Back', user_blood_banks_path %>
