<!DOCTYPE html>
<html>
<head>
<style>
.Email {
  width: 540px;
  height: 675px;
  overflow:hidden;
  background: #E9E7E8 url("https://goo.gl/I2V9hU") top repeat-x;
}
.Email-content {
     background: #fff;
    width: 400px;
     height: 540px;
     margin: 55px auto;
     border-radius: 5px;
     z-index:2;
    }
</style>
</head>
<body>

<div class="Email">
  <div class="Email Email-content">
    <div class="Email-content-head" style="height: 100px;
                                           margin: 10px;
                                           font-size: 33pt;
                                           text-align: center;">
      <img src="http://hemoheroes.herokuapp.com/assets/hemoheroes-logo-fb55d5704bd6d3b172edcd6d59d5512562cc19e2492e666008d51ba53f68d6ba.png" />
    </div>
    <div class="Email-content-body padding-top" style="width: 370px;
                                                      height: 310px;
                                                      margin: auto;
                                                      text-align: center;
                                                      font-family: sans-serif;
                                                      padding-top: 20px">
    <p><h4>O Banco de Sangue <%= @bank.name %>
     deseja se juntar ao HemoHeroes </h4></p>

     <div class="align-justify" style="text-align:justify;">
       <b>Informações:</b>
       <ul style="list-style: none;">
         <li style="padding: 7px;"> <b>Nome: </b><%= @bank.name %> </li>
         <li style="padding: 7px;"> <b>CNPJ: </b><%= @bank.cnpj %> </li>
         <li style="padding: 7px;"> <b>Email: </b><%= @bank.email %> </li>
         <li style="padding: 7px;"> <b>Endereço: </b><%= @bank.address %> </li>
         <li style="padding: 7px;"> <b>Telefone: </b> <%= @bank.phone %> </li>
         <li style="padding: 7px;"> <b>Ramal: </b> <%= @bank.extension %> </li>
       </ul>
     </div>


    </div>
    <div class="align-center" style="text-align: center">
      <span style="font-size: 1em;">Faça aprovação no <a href="http://hemoheroes.herokuapp.com/admin/login" >painel de controle</a></span>
    </div>
  </div>
</div>
</body>
</html>
