<!DOCTYPE html>
<html>
<head>
  <style>
  .Email {
    width: 540px;
    height: 675px;
    overflow:hidden;
    background: #E9E7E8 url("http://imageshack.com/a/img922/8563/rXummf.jpg") top repeat-x;
  }
  .Email-content {
    background: #fff;
    width: 400px;
    height: 640px;
    margin: 55px auto;
    border-radius: 5px;
    z-index:2;
   }
   .Email-link {
     color: #0000EE;
     text-decoration: underline;
   }
  .Email-content-head {
    height: 100px;
    margin: 10px;
    font-size: 33pt;
    text-align: center; }
  .Email-content-body {
    width: 370px;
    height: 310px;
    margin: auto;
    text-align: center;
    font-family: sans-serif; }
  .Email-content-contentButtons {
    height: 50px;
    width: 370px;
    margin: auto; }
  .aButton{
    text-decoration: none;
    color: #fff;
    }
    .align-center{
      text-align:center;
    }
    .padding-top{
      padding-top: 20px;
    }
    .Button {
      font-size: .8rem;
      font-weight: 700;

      display: inline-block;
      box-sizing: border-box;
      padding: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      border: 1px solid #af9d9d;
      border-radius: 3px;
      background: #cdc9c9;
      box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25); }
      .Button:hover {
        cursor: pointer;
        background-color: #b9b4b4; }
      .Button-group {
        display: flex;
        margin: 12px -6px; }
        .Button-group .Button {
          margin: 0 6px; }
      .Button--large {
        padding: 20px;
        font-size: 16px; }
      .Button--small {
        padding: 10px;
        font-size: 10px; }
      .Button--feedback {
        width: 90%;
        height: 45px;
        margin: 15px; }
      .Button--fluid {
        width: 100%; }
      .Button--medium {
        width: 180px; }
      .Button--invisible {
        color: #999999;
        border: 0;
        background: none;
        box-shadow: none; }
        .Button--invisible:hover {
          color: #4d4d4d;
          background: none; }
      .Button.is-canceled {
        color: #fff;
        background: #e74c3c; }
        .Button.is-canceled:hover {
          background-color: #e43422; }
      .Button.is-actived {
        color: #fff;
        border-color: #239955;
        background: #2ecc71; }
        .Button.is-actived:hover {
          background-color: #29b866; }
      .Button.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: #9c9494;
        border: 0;
        box-shadow: none; }
      span{
        font-size: 1em;
      }
  </style>
</head>
<body>

<div class="Email">
  <div class="Email Email-content">
    <div class="Email-content-head">
      <img src="http://hemoheroes.herokuapp.com/assets/hemoheroes-logo-fb55d5704bd6d3b172edcd6d59d5512562cc19e2492e666008d51ba53f68d6ba.png" />
    </div>
    <div class="Email-content-body padding-top">
      <h2>Olá Herói <%= @user.name %></h2>
      <span>Nós do HemoHeroes estamos precisando de sua ajuda no <b><%= @bank.name %></b></span>


      <div class="padding-top">
        <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@bank.latitude}, #{@bank.longitude}&markers=color:red%7Clabel:H%7C#{@bank.latitude}, #{@bank.longitude}&zoom=15&size=200x150&key=AIzaSyBJc6_zyREWQW3SaIg19--mmQFiUUzL94g", alt:"mapa") %>
      </div>
    </div>

    <div class="Email-content-contentButtons">
        <a href="http://hemoheroes.herokuapp.com/#onde" class="aButton Button Button--medium is-canceled">Outros locais</a>
        <%= link_to "Doei ultimamente", "http://hemoheroes.herokuapp.com/madeDonation/#{@user.last_donation_token}", class:"aButton Button Button--medium is-canceled " %>
    </div>


    <div class="align-center">
      <%= link_to "Não quero mais receber notificações", "http://hemoheroes.herokuapp.com/cancelNotification/#{@user.notification_token}", class:"Email-link" %>
    </div>
  </div>
</div>
</body>
</html>
