<!DOCTYPE html>
<html>
<head>
<style>
.Email {
  width: 540px;
  height: 675px;
  overflow:hidden;
  background: #E9E7E8 url("http://imageshack.com/a/img922/8563/rXummf.jpg") top repeat-x;
}
.Email-content {
  background: #fff;
  width: 400px;
  height: 540px;
  margin: 55px auto;
  border-radius: 5px;
  z-index:2;
}
</style>

</head>
<body>

  <div class="Email">
    <div class="Email Email-content">
      <div class="Email-content-head" style="height: 100px;
      margin: 10px;
      font-size: 33pt;
      text-align: center;">
      <img src="http://hemoheroes.herokuapp.com/assets/hemoheroes-logo-fb55d5704bd6d3b172edcd6d59d5512562cc19e2492e666008d51ba53f68d6ba.png" />
    </div>
    <div class="Email-content-body padding-top" style="width: 370px;
    height: 310px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;">
    <h2>Olá Herói <%= @user.name %></h2>
    <span style="font-size:1em;">Nós do HemoHeroes estamos precisando de sua ajuda no <b><%= @bank.name %></b></span>
    <div class="padding-top" style="padding-top:20px;">


      <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@bank.latitude}, #{@bank.longitude}&markers=color:red%7Clabel:H%7C#{@bank.latitude}, #{@bank.longitude}&zoom=15&size=200x150&key=AIzaSyBJc6_zyREWQW3SaIg19--mmQFiUUzL94g", alt:"mapa") %>
      <div class="address" style="text-align:center;"><%= @bank.address %></div>
    </div>
  </div>

  <div class="Email-content-contentButtons" style="height: 50px;
  width: 370px;
  margin: auto; ">
  <a href="http://hemoheroes.herokuapp.com/#onde" class="aButton Button Button--medium is-canceled" style="text-decoration: none;
  color: #fff;
  width: 180px;
  font-size: .8rem;
  font-weight: 700;
  float:left;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #af9d9d;
  border-radius: 3px;
  background: #e74c3c;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25);">Outros locais</a>
  <%= link_to "Doei ultimamente", "http://hemoheroes.herokuapp.com/madeDonation/#{@user.last_donation_token}", style:"text-decoration: none;
  color: #fff;
  width: 180px;
  font-size: .8rem;
  font-weight: 700;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #af9d9d;
  border-radius: 3px;
  background: #e74c3c;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.25);" %>
</div>

<br>
<div class="align-center" style="text-align:center;">
  <%= link_to "Não quero mais receber notificações", "http://hemoheroes.herokuapp.com/cancelNotification/#{@user.notification_token}", class:"Email-link" %>
</div>
</div>
</div>
</body>
</html>
