<p id="notice"><%= notice %></p>

<p>
  <strong>A positive:</strong>
  <%= @demand_blood_bank.a_positive %>
</p>

<p>
  <strong>A negative:</strong>
  <%= @demand_blood_bank.a_negative %>
</p>

<p>
  <strong>B positive:</strong>
  <%= @demand_blood_bank.b_positive %>
</p>

<p>
  <strong>B negative:</strong>
  <%= @demand_blood_bank.b_negative %>
</p>

<p>
  <strong>Ab positive:</strong>
  <%= @demand_blood_bank.ab_positive %>
</p>

<p>
  <strong>Ab negative:</strong>
  <%= @demand_blood_bank.ab_negative %>
</p>

<p>
  <strong>O positive:</strong>
  <%= @demand_blood_bank.o_positive %>
</p>

<p>
  <strong>O negative:</strong>
  <%= @demand_blood_bank.o_negative %>
</p>

<%= link_to 'Edit', edit_demand_blood_bank_path(@demand_blood_bank) %> |
<%= link_to 'Back', demand_blood_banks_path %>
