<%= form_for(hospital) do |f| %>
<% if hospital.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

  <ul>
    <% hospital.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="Container">
  <div class="Container-header">
    <div class="Grid">
      <div class="Grid-cell u-sizeFull">
        <h3 class="Container-header-text"> Cadastro de Hospital </h3>
      </div>
    </div>
  </div>

  <div class="Container-body">
    <div class="Form Form--fluid">

      <div class="Grid">
        <!-- 2 Enters = divisão de linha | 1 Enter = divisão de coluna -->
        <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Nome: </span>
            <%= f.text_field :name, class: "Form-inputValue js-validateName u-size10of12" %>
            <span id="errorName" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
          </div>
        </div>

        <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">CPNJ: </span>
            <%= f.text_field :cnpj, class: "Form-inputValue u-size10of12 js-validateCNPJ" %>
            <span id="errorCNPJ" style="display:none;" class="errorMessage"></span>
          </div>
        </div>

        <div class="Grid Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-largePhone-size6of12 u-smallPhone-sizeFull">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">Email:</span>
            <%= f.text_field :email, class: "Form-inputValue u-size10of12 js-validateEmail" %>
            <span id="errorEmail" style="display:none;" class="errorMessage"></span>
          </div>
        </div>

        <div class="Grid Grid-cell u-size6of12">
          <div class="Form-group">
            <span class="Form-inputLabel u-size2of12">CEP:</span>
            <%= f.text_field :cep, class: "Form-inputValue u-size10of12 js-validateCEP" %>
            <span id="errorCEP" style="display: none;" class="errorMessage"></span>
          </div>
        </div>


        <div class="Grid Grid-cell u-size4of12">
          <div class="Grid">
            <div class="Grid-cell u-size3of12">
              <span class="Form-inputLabel">Bairro:</span>
            </div>
            <div class="Grid-cell u-size9of12">
              <%= f.text_field :district, class: "Form-inputValue js-validateDistrict" %>
              <span id="errorDistrict" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
            </div>
          </div>
        </div>

        <div class="Grid Grid-cell u-size6of12">
          <div class="Grid">
            <div class="Grid-cell u-size2of12">
              <span class="Form-inputLabel">Rua:</span>
            </div>
            <div class="Grid-cell u-size10of12">
              <%= f.text_field :street, class: "Form-inputValue js-validateStreet " %>
              <span id="errorStreet" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
            </div>
          </div>
        </div>

        <div class="Grid Grid-cell u-size2of12">
          <div class="Grid">
            <div class="Grid-cell u-size5of12">
              <span class="Form-inputLabel">Nº:</span>
            </div>
            <div class="Grid-cell u-size7of12">
              <%= f.text_field :number, class: "Form-inputValue js-validateNumber" %>
              <span id="errorNumber" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
            </div>
          </div>
        </div>


        <div class="Grid Grid-cell u-size6of12">
          <div class="Grid">
            <div class="Grid-cell u-size2of12">
              <span class="Form-inputLabel">Cidade:</span>
            </div>
            <div class="Grid-cell u-size10of12">
              <%= f.text_field :city, class: "Form-inputValue js-validateCity" %>
              <span id="errorCity" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
            </div>
          </div>
        </div>

        <div class="Grid Grid-cell u-size6of12">
          <div class="Grid">
            <div class="Grid-cell u-size2of12">
              <span class="Form-inputLabel">Estado:</span>
            </div>
            <div class="Grid-cell u-size10of12">
              <%= f.text_field :state, class: "Form-inputValue js-validateState" %>
              <span id="errorState" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
            </div>
          </div>
        </div>


        <%= hidden_field :password, :value => @password %>
      </div>

    </div>
  </div>

  <div class="Grid">
    <div class="actions">
      <div class="Grid-cell u-size1of2">
        <!-- <%= f.submit "Cadastrar", class: "Button Button--medium is-actived" %> -->
        <!-- <div class="Button Button--medium is-actived" id="ButtonFormHospital" onclick="validateFormService.validateName('js-validateName')"></div> -->
        <button type="submit" class="Button Button--medium is-actived js-validateForm" >Cadastrar</button>
      </div>
      <div class="Grid-cell u-size1of2">
        <!-- <%= f.submit "Limpar", class: "Button Button--medium" %> -->

      </div>
    </div>
  </div>

</div>
</div>

<% end %>
