<%= form_for(hospital) do |f| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="formRegisterHospital">

  <div class="field">

    <span>Nome: </span>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <span>E-mail: </span>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <span>CEP: </span>
    <%= f.text_field :cep %>
  </div>

  <div class="field">
    <span>Rua: </span>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <span>N°: </span>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <span>Bairro: </span>
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <span>Cidade: </span>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <span>Estado: </span>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <span>CNPJ: </span>
    <%= f.text_field :cnpj %>
  </div>

  <div class="field">
    <span>Senha: </span>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <span>Confirmar Senha: </span>
    <input />
  </div>


  <div class="actions">
    <%= f.submit class: "Button Button--small is-actived" %>
  </div>

</div>
<% end %>
