<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hospital.email %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @hospital.cnpj %>
</p>

<p>
  <strong>Password:</strong>
  <%= @hospital.password %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @hospital.cep %>
</p>

<p>
  <strong>Street:</strong>
  <%= @hospital.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @hospital.district %>
</p>

<p>
  <strong>Number:</strong>
  <%= @hospital.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @hospital.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hospital.state %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
