<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
<% if resource.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="Grid Grid--alignCenter">
  <div class="Grid-cell u-desktop-size7of12 u-tablet-sizeFull u-mobile-sizeFull u-outerWrapper">

    <div class="Container Container--primary Grid-cell u-tablet-sizeFull u-margin-bottom-large">
      <div class="Container-header">
        <h3 class="Container-title u-margin-small"> Cadastro de Hospital </h3>
      </div>


      <div class="Container-body">
        <div class="Form">
          <div class="Grid">
            <div class="Grid-cell u-desktop-size6of12 u-tablet-sizeFull u-mobile-sizeFull">
              <div class="Form-group">
                <div class="Form-inputLabel u-sizeFull">
                  <span>Nome<span class="red-text">*</span></span>
                </div>
                <div class="u-sizeFull">
                  <%= f.text_field :name, class: "js-validateName Form-inputValue u-sizeFull",
                  placeholder: "Ex: Hospital Carlos Schallenberger" %>
                  <span id="errorName" style="display:none;" class="red-text">Nome inválido!</span>
                </div>
              </div>
            </div>


            <div class="Grid-cell u-desktop-size6of12 u-tablet-sizeFull u-mobile-sizeFull">
              <div class="Form-group">
                <div class="Form-inputLabel u-sizeFull">
                  <span>CNPJ<span class="red-text">*</span></span>
                </div>
                <div class="u-sizeFull">
                  <%= f.text_field :cnpj, class: "Form-inputValue js-validateCNPJ",
                  :maxlength => 18, placeholder: "Digite apenas números" %>
                  <span id="errorCNPJ" style="display:none;" class="red-text"></span>
                </div>
              </div>
            </div>


            <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
              <div class="Form-group">
                <div class="Form-inputLabel u-sizeFull">
                  <span>E-mail<span class="red-text">*</span></span>
                </div>
                <div class="u-sizeFull">
                  <%= f.text_field :email, class: "Form-inputValue js-validateEmail",
                  placeholder: "Ex: carlosirla@seuemail.com.br" %>
                  <span id="errorEmail" style="display:none;" class="red-text"></span>
                </div>
              </div>
            </div>

            <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
              <div class="Form-group">
                <div class="Form-inputLabel u-sizeFull">
                  <span>Telefone<span class="red-text">*</span></span>
                </div>
                <div class="u-sizeFull">
                  <%= f.text_field :phone, class: "Form-inputValue js-validatePhone",
                  :maxlength => 13, placeholder: "Ex: (51) 9876-5432" %>
                  <span id="errorPhone" style="display:none;" class="red-text"></span>
                </div>
              </div>
            </div>

            <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
              <div class="Form-group">
                <div class="Form-inputLabel u-sizeFull"
                <span>Ramal</span>
              </div>
              <div class="u-sizeFull">
                <%= f.text_field :extension, class: "Form-inputValue js-validateExtension",
                :maxlength => 4, placeholder: "Ex: 1234"%>
                <span id="errorExtension" style="display:none;" class="red-text">Campo obrigatório!</span>
              </div>
            </div>
          </div>

          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <div class="Form-inputLabel u-sizeFull"
              <span>Endereço<span class="red-text">*</span></span>
            </div>
            <div class="u-sizeFull">
              <%= f.text_field :address, class: "Form-inputValue js-validateAddress",
              placeholder: "Ex: Av. Ipiranga, 6681"%>
              <span id="errorAddress" style="display:none;" class="red-text">Campo obrigatório!</span>
            </div>
          </div>
        </div>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <div class="Form-inputLabel u-sizeFull"
            <span>Senha<span class="red-text">*</span></span>
          </div>
          <div class="u-sizeFull">
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "off",
            class:"js-validatePassword Form-inputValue", placeholder: "Senha" %>
            <span id="errorPassword" style="display:none;" class="red-text"></span>
          </div>
        </div>
      </div>

      <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
        <div class="Form-group">
          <div class="Form-inputLabel u-sizeFull"
          <span>Confirmar senha<span class="red-text">*</span></span>
        </div>
        <div class="u-sizeFull">
          <%= f.password_field :password_confirmation, autocomplete: "off",
          class:"js-validatePasswordConfirmation Form-inputValue", placeholder: "Confirme sua senha" %>
          <span id="errorPasswordConfirmation" style="display:none;" class="red-text"></span>
        </div>
      </div>
    </div>

    <% if resource.id %>
    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <% end %>
    <div class="Container-footer">
      <%= f.submit "Cadastrar", id:"blood-bank-register-button", class: "Button Button--medium u-float-right is-disabled js-validateButtonBank", onclick: "Modal.open('.js-modalMessageRegisterBank')" %>
    </div>

  </div>
</div>
</div>
</div>

<% end %>

<div class="Modal js-modal js-modalMessageRegisterBank">

  <div class="Modal-content js-modalContent">
    <div class="Modal-header">
      <div class="Modal-titleBox">
        <h3 class="Modal-title">
          Cadastro em analise
        </h3>
      </div>
    </div>

    <div class="Modal-body">
      <div class="u-align-center u-padding-left u-padding-right">
        <span class="u-font-size20 ">Seu cadastro foi realizado com sucesso, aguarde a confirmação do administrador do sistema. </span>
      </div>
      <div class="u-align-center u-padding-top u-padding-bottom">
        <div onclick="Modal.close('.js-modalMessageRegisterBank')">
          <%= button_to "OK", root_path, method: :get, class:"Button Button--medium u-size3of12 is-actived" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
