<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<% if resource.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="Container">
  <div class="Container-header">
    <div class="Grid">
      <div class="Grid-cell u-sizeFull">
        <h3 class="Container-header-text"> Cadastro de Hospital </h3>
      </div>
    </div>
  </div>



  <div class="Container-body">
    <div class="Form Form--fluid">

      <div class="Grid">
        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Nome: </span>
            <%= f.text_field :name, class: "js-validateName Form-inputValue u-size10of12" %>
            <span id="errorName" style="display:none;" class="errorMessage">O campo é obrigatório!</span>

          </div>
        </div>


        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">CPNJ: </span>
            <%= f.text_field :cnpj, class: "Form-inputValue u-size10of12 js-validateCNPJ",:maxlength => 18 %>
            <span id="errorCNPJ" style="display:none;" class="errorMessage"></span>

          </div>
        </div>


        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Email:</span>
            <%= f.text_field :email, class: "Form-inputValue u-size10of12 js-validateEmail" %>
            <span id="errorEmail" style="display:none;" class="errorMessage"></span>

          </div>
        </div>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Telefone:</span>
            <%= f.text_field :phone, class: "Form-inputValue u-size10of12 js-validatePhone",:maxlength => 13 %>
            <span id="errorPhone" style="display:none;" class="errorMessage"></span>

          </div>
        </div>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Ramal:</span>
            <%= f.text_field :extension, class: "Form-inputValue u-size10of12 js-validateExtension", :maxlength => 4%>
            <span id="errorExtension" style="display:none;" class="errorMessage">O campo é obrigatório!</span>

          </div>
        </div>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Endereço:</span>
            <%= f.text_field :adress, class: "Form-inputValue u-size10of12 js-validateAddress" %>
            <span id="errorAddress" style="display:none;" class="errorMessage">O campo é obrigatório!</span>

          </div>
        </div>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Senha: </span>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"js-validatePassword Form-inputValue u-size10of12" %>
            <span id="errorPassword" style="display:none;" class="errorMessage"></span>
          </div>
        </div>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">

            <span class="Form-inputLabel u-size2of12">Confirme a senha: </span>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"js-validatePasswordConfirmation Form-inputValue u-size10of12" %>
            <span id="errorPasswordConfirmation" style="display:none;" class="errorMessage"></span>

          </div>
        </div>


        <% if resource.id %>
        <div class="field">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <% end %>

        <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
          <div class="Form-group">
            <%= f.submit "Cadastrar", class: "Button Button--medium is-disabled js-validateForm"  %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<% end %>
