<% if flash[:notification_modal]  %>
<div id="modal_notification" class="Modal js-modal js-modalSuccessMessage Modal-overlay" style="opacity: 1; visibility: visible;">
  <div class="Modal-content js-modalContent" style="top: 50%;">

    <div class="Modal-header">
      <div class="Modal-closeButton">
        <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modal')"></a>
      </div>
      <div class="Modal-titleBox">
        <h3 class="Modal-title"><%= flash[:title] %></h3>
      </div>
    </div>



    <% if flash[:link] %>
    <div class="Modal-body">
      <span class="u-font-size16">
        <%= flash[:message] %>
      </span>
      <div class="u-flex u-padding-top">
        <div class="u-flex u-flex-column u-desktop-size4of12">
          <%= link_to(dashboard_path, {method: :get, class: "u-link-success"}) do %>
          <%= image_tag("list.png")%>
          <div>Requisitos</div>
          <% end %>
          <small>Veja os requisitos para ser um doador</small>
        </div>


        <div class="u-flex u-flex-column u-desktop-size4of12">
          <a class="u-link-success" data-turbolinks="false" data-scroll href="#onde" onclick="Modal.close('.js-modal')"><%= image_tag("locate.png")%></a>
          <a class="u-link-success" data-turbolinks="false" data-scroll href="#onde" onclick="Modal.close('.js-modal')">Onde doar</a>
          <small>Localize no mapa os Hemocentros</small>
        </div>


        <div class="u-flex u-flex-column u-desktop-size4of12">
          <a class="u-link-success" data-turbolinks="false" data-scroll href="#comoFunciona" onclick="Modal.close('.js-modal')"><%= image_tag("doubt.png")%></a>
          <a class="u-link-success" data-turbolinks="false" data-scroll href="#comoFunciona" onclick="Modal.close('.js-modal')">Saiba mais</a>
          <small>Saiba como funciona o processo de doação</small>
        </div>
      </div>
    </div>
    <% else %>
    <div class="Modal-body">
      <span class="Modal--textModal"><%= flash[:message] %></span>
      <div class="u-flex u-padding-top">
        <div class="u-flex u-flex-column u-desktop-size4of12">
          <%= link_to(dashboard_path, {method: :get, class: "u-link-success"}) do %>
          <%= image_tag("list.png")%>
          <div>Requisitos</div>
          <% end %>
          <small>Veja os requisitos para ser um doador</small>
        </div>

        <div class="u-flex u-flex-column u-desktop-size4of12">
          <a class="u-link-success" data-turbolinks="false" data-scroll href="#comoFunciona" onclick="Modal.close('.js-modal')"><%= image_tag("doubt.png")%></a>
          <a class="u-link-success" data-turbolinks="false" data-scroll href="#comoFunciona" onclick="Modal.close('.js-modal')">Saiba mais</a>
          <small>Saiba como funciona o processo de doação</small>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="Modal-overlay" onclick="Modal.close('.js-modal')"></div>
</div>
<% end %>
