<section class="HeroImage">

  <div class="HeroImage-background"></div>
  <div class="HeroImage-overlay"></div>

  <%= render 'modal_notification' %>
  <%= render 'modal_feedback' %>

  <div class="HeroImage-content">

    <div class="HeroImage-boxLeft">
      <div class="HeroImage-title">
        Receba notificações de  quando e onde doar sangue
      </div>
      <div class="HeroImage-subtitle">
        Faça parte da comunidade de doadores voluntários do HemoHeroes
      </div>
    </div>

    <div class="HeroImage-boxRight">
      <div class="Button Button--large  is-actived-secundary" onclick="Modal.open('.js-modalRegistration')">
        Quero Me Cadastrar <span class="glyphicon glyphicon-menu-right"></span>
      </div>
      <div class="HeroImage-benefits">
        <ul>
          <li><img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-128.png" alt="" /> Receba notificações por email</li>
          <li><img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-128.png" alt="" /> Saiba quando doar novamente</li>
          <li><img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-128.png" alt="" /> Localize facilmente onde doar</li>
        </ul>
      </div>
    </div>

    <div class="HeroImage-friends">
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="HeroImage-learnMore">
      <div>Saiba mais</div>
      <span class="glyphicon glyphicon-menu-down u-block"></span>
    </div>

    <div class="HeroImage-partners">
      <div class="HeroImage-partnersTitle">
        Apoio:
      </div>
      <img src="http://creativebangalore.startupweekend.org/files/2014/05/thoughtworks.png" />
      <img src="http://www.centrodeinovacao.org.br/Content/ImagensFooter/Microsoft%20Innovation%20Center-%20Logo.png" />

    </div>


  </div>

</section>



<section class="Section u-align-center">

  <h2><a id="onde">Onde Posso Doar?</a></h2>

  <div class="Map-group">
    <% @banks.each do |bank| %>
    <div class="Map">
      <div class="Map-name">
        <%= bank.name %>
      </div>
      <div class="Map-image">
        <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{bank.latitude}, #{bank.longitude}&markers=color:red%7Clabel:H%7C#{bank.latitude}, #{bank.longitude}&zoom=15&size=400x250&key=AIzaSyBJc6_zyREWQW3SaIg19--mmQFiUUzL94g", alt:"mapa") %>
      </div>
      <div class="Map-address">
        <%= bank.address %>
      </div>
    </div>
    <% end %>
  </div>
</section>



<div class="u-divider"></div>



<section class="Section Section--secondary">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-desktop-sizefull u-tablet-sizefull u-mobile-sizefull u-align-center">
      <h2><a id="sobre">SOBRE</a></h2>
      <p class="u-font-size14 u-padding-left u-padding-right u-padding-bottom u-text-align-justify">
        <img src="http://www.clipartkid.com/images/154/will-be-back-this-afternoon-to-post-a-sneak-peek-you-don-t-want-to-gdnUEm-clipart.png" style="width:150px;height:150px; float:left; padding-right: 10px;" />

        O Projeto HemoHeroes foi idealizado e desenvolvido para interagir com o público em potencial para aumentar
        o número de doadores e a frequência dessas doações. Sabe-se da escassez dos hemocentros e o senso de
        urgência com que uma doação se faz necessária, logo, vislumbrou-se a necessidade da criação de uma
        ferramenta dinâmica e inovadora. O sistema HemoHeroes foi criado em uma plataforma web,
        onde os hemocentros divulgam diariamente os níveis de seus estoques por tipo sanguíneo.
        O HemoHeroes dispõe de uma plataforma onde circulam informações de forma rápida, direcionada e
        inteligente, tanto para os doadores regulares, quanto para os doadores em potencial, futuros membros da
        nossa rede.Essas informações são encaminhadas, via aplicativo, para smartphones e tablets com versões
        disponíveis para os sistemas iOS, Android e Wind.
        ows Phone, ou mesmo para quem acessar o nosso site,
        de forma direcionada e pontual.
        Além dos indicativos do sistema, por conta das informações dos hemocentros parceiros,
        nosso aplicativo auxilia o doador a se manter informado sobre sua próxima doação,
        o estimula a participar de campanhas motivadas pelas redes sociais, entre outras utilidades que
        promovemos de acordo com a demanda.
      </p>
    </div>
  </div>
</section>
