<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user_blood_donator from being saved:</h2>

    <ul>
      <% user_blood_donator.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="Container">
    <div class="Container-header">
      <div class="Grid">
        <div class="Grid-cell u-sizeFull">
          <h3 class="Container-header-text"> Cadastro de doador </h3>
        </div>
      </div>
    </div>

    <div class="Container-body">

      <div class="Form Form--fluid">
        <div class="Grid">


          <!-- NAME -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Nome: </span>
              <%= f.text_field :name, class: "Form-inputValue  js-validateName  u-size10of12" %>
              <span id="errorName" style="display:none;" class="errorMessage">O campo é obrigatório!</span>
            </div>
          </div>


          <!-- CPF -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">CPF: </span>
              <%= f.text_field :cpf, class: "Form-inputValue js-validateCPF" %>
              <span id="errorCPF" style="display:none;" class="errorMessage"></span>
            </div>
          </div>


          <!-- EMAIL -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Email: </span>
              <%= f.text_field :email, class: "Form-inputValue js-validateEmail" %>
              <span id="errorEmail" style="display:none;" class="errorMessage"></span>
            </div>
          </div>


          <!-- PHONE -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Telefone: </span>
              <%= f.text_field :phone, class: "Form-inputValue js-validatePhone" %>
              <span id="errorPhone" style="display:none;" class="errorMessage"></span>
            </div>
          </div>

          <!-- DATA OF BIRTH-->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Data de nascimento: </span>
              <%= f.date_field :date_birth, class: "Form-inputValue js-validateDate" %>
              <span id="errorDate" style="display:none;" class="errorMessage"></span>
            </div>
          </div>


          <!-- BLOOD TYPE -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Tipo sanguíneo: </span>
              <%= f.select :blood_type, ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'], { include_blank: "Não sei" },  { class: "Form-inputValue u-size10of12" } %>
            </div>
          </div>


          <!-- PASSWORD -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Senha: </span>
              <%= f.password_field :password, class: "Form-inputValue" %>
            </div>
          </div>


          <!-- PASSWORD CONFIRMATION -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Confirmação de senha: </span>
              <%= f.password_field :password, class: "Form-inputValue" %>
            </div>
          </div>


          <!-- LAST DONATION -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Ultima doação: </span>
              <%= f.date_field :last_donation, class: "Form-inputValue" %>
            </div>
          </div>


          <!-- GENDER -->
          <div class="Grid-cell u-desktop-size6of12 u-tablet-size6of12 u-mobile-sizeFull">
            <div class="Form-group">
              <span class="Form-inputLabel u-size2of12">Sexo: </span>
              <div class="Radio">
                <%= label_tag(:genre, "Masculino") %>
                <%= radio_button_tag :genre, "masculino", false, class: "Radio-label js-validateGenre" %>
                <%= label_tag(:genre, "Feminino") %>
                <%= radio_button_tag :genre, "feminino", false, class: "Radio-label js-validateGenre" %>
                <span id="errorGenre" style="display:none;" class="errorMessage"></span>
              </div>
            </div>
          </div>

          <div class="Form-group">
            <div class="Checkbox">
              <%= check_box_tag(:notification, 'accepted', false, disable:false) %>
            </div>
            <div class="Checkbox">
              <%= label_tag(:notification, "Desejo receber notificações") %>
            </div>
          </div>

          <div class="Form-group">
            <div class="Checkbox">
              <div class="Checkbox-input">
                <%= check_box_tag(:accept_terms, false, false, class: "js-validateTerms")  %>
              </div>
              <div class="Checkbox-label">
                <%= label_tag(:accept_terms, "Aceito os termos de uso", class: "js-validateTerms") %>
                <span id="errorTerms" style="display:none;" class="errorMessage"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= f.submit "Cadastrar", class: "Button Button--medium is-actived js-validateForm" %>
      <%= button_tag "Limpar", type: :reset, class: "Button Button--medium" %>

    </div>

  </div>


  <% end %>
