<!-- =newPrototipo -->
<% if flash[:register_modal] %>
<div class="Modal js-modalRegistration" style="opacity: 1; visibility: visible;">
  <div class="Modal-content js-modalContent" style="top: 50%;">
    <% else %>
    <div class="Modal js-modalRegistration">
      <div class="Modal-content js-modalContent">
        <% end %>

        <div class="Modal-header">
          <div class="Modal-closeButton">
            <a class="glyphicon glyphicon-remove" onclick="Modal.close('.js-modalRegistration')"></a>
          </div>
          <div class="Grid">
            <div class="Grid-cell u-sizeFull">
              <div class="Modal-titleBox">
                <h3 class="Modal-title">Cadastro de doador</h3>
                <small>Preencha o cadastro para receber notificações</small>
              </div>
            </div>
          </div>
        </div>

        <form class="new_user_blood_donator" id="new_user_blood_donator" action="/cadastroDoador" accept-charset="UTF-8" method="post" onKeyDown="if (event.keyCode == '13'){ return false }" >
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="authenticity_token" value="hJ33FVGdCf3dntfs8kC6twKZLdEQsygeXLTP5YZ8JZ+AWtPT+/+TT5emuonnBMrXZgLvY76sa4QW61eKJynOsw==">
          <% if resource.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user_blood_donator from being saved:</h2>

            <ul>
              <% user_blood_donator.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>



          <div class="Grid-cell u-tablet-sizeFull u-mobile-sizeFull u-outerWrapper">
            <div class="Modal-body Modal-small" id="modal-registration-blood-donator">
              <div id="form-registration-blood-donator" class="Form">
                <div class="Grid">
                  <% if alert %>
                  <div class="Alert Alert--error u-desktop-size12of12 u-tablet-sizeFull u-mobile-sizeFull">
                    <span class="glyphicon glyphicon-alert"></span> <%= alert %>
                  </div>
                  <% end %>
                  <div class="Grid-cell u-desktop-size6of12 u-tablet-sizeFull u-mobile-sizeFull">
                    <div class="Form-group">
                      <div class="Form-inputLabel u-sizeFull">
                        <span>Nome</span>
                      </div>
                      <div class="u-sizeFull">
                        <input class="Form-inputValue  js-validateNameDonator" placeholder="Ex: Fellipe Callegas" type="text" name="user_blood_donator[name]" id="user_blood_donator_name">
                        <span id="errorName" style="display:none;" class="red-text">O campo é obrigatório</span>
                      </div>
                    </div>
                  </div>

                  <div class="Grid-cell u-desktop-size6of12 u-tablet-sizeFull u-mobile-sizeFull">
                    <div class="Form-group">
                      <div class="Form-inputLabel u-sizeFull">
                        <span>E-mail</span>
                      </div>
                      <div class="u-sizeFull">
                        <input class="Form-inputValue js-validateEmailDonator" placeholder="Ex: carlosirla@seuemail.com.br" type="text" value="<%= flash[:email] %>" name="user_blood_donator[email]" id="user_blood_donator_email" <%=flash[:set_focus]%>>
                        <span style="display:none;" class="red-text errorEmail"></span>
                      </div>
                    </div>
                  </div>

                  <input type="hidden" value="123456" name="user_blood_donator[password]" id="user_blood_donator_password">

                  <input type="hidden" value="123456" name="user_blood_donator[password]" id="user_blood_donator_password_confirmation">


                  <div class="Grid-cell u-desktop-size6of12 u-tablet-sizeFull u-mobile-sizeFull">
                    <div class="Form-group">
                      <div class="Form-inputLabel u-sizeFull">
                        <span> Tipo sanguíneo: </span>
                      </div>
                      <div class="u-sizeFull">
                        <select class="Form-inputValue" name="user_blood_donator[blood_type]" id="user_blood_donator_blood_type"><option value="">Não sei</option>
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="Grid-cell u-desktop-size6of12 u-tablet-sizeFull u-mobile-sizeFull">
                    <div class="Form-group">
                      <div class="Form-inputLabel u-sizeFull">
                        <span>Sexo: </span>
                      </div>
                      <div class="u-sizeFull">
                        <div class="Radio u-padding-bottom">
                          <input type="radio" name="user_blood_donator[genre]" id="genre_sexo" value="m" class="Radio-label">
                          <label for="genre">Masculino</label>
                          <input type="radio" name="user_blood_donator[genre]" id="genre_sexo" value="f" class="Radio-label" checked="checked">
                          <label for="genre">Feminino</label>
                          <span id="errorGenre" style="display:none;" class="red-text"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="Form-groupBlock">
                  <div class="Checkbox">
                    <div class="Checkbox-input">
                      <input type="checkbox" name="accept_terms" id="accept_terms" value="false" class="js-validateTermsDonator">
                    </div>
                    <div class="Checkbox-label">
                      <label for="accept_terms">Aceito os <a href="#" data-turbolinks="false" class="u-linkTerms" onclick="Modal.open('.js-modalTerms')">termos de uso </a></label>
                      <span id="errorTerms" style="display:none;" class="red-text"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="Container-footer">
                <div class="u-float-right">
                  <button name="button" type="reset" class="Button Button--invisible gtm-criar-cadastro" onclick="validateFormService.buttonReset()">Limpar</button>
                  <input type="submit" name="commit" value="Cadastrar" class="Button is-disabled js-validateButtonSimpleDonator" data-disable-with="Cadastrar">
                </div>
              </div>


            </div>
          </div>
        </form>
      </div>
      <div class="Modal-overlay" onclick="Modal.close('.js-modalRegistration')">
      </div>
    </div>
  </div>
</div>
