<!DOCTYPE html>
<html>
<head>
  <title>HemoHeroes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  <% if ENV['ENV_TESTS'] == 'production' %>
  <!-- Hotjar Tracking Code for http://hemoheroestw-staging.herokuapp.com/ -->
  <script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:313896,hjsv:5};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <% end %>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Analytics -->
  <% if ENV['ENV_TESTS'] == 'production' %>
  <!-- Teste A/B com Analytics -->

  <% if controller.controller_name == 'registrations' &&  controller.action_name == 'new' %>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
    k='132453866-0',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
      indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
        length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
          '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
          '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
          '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
          valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
          '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
          </script><script>utmx('url','A/B');</script>
          <!-- End of Google Analytics Content Experiment code -->
          <% end %>

          <!-- Analytics -->
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-86456679-1', 'auto');
          ga('send', 'pageview');
          </script>
          <% end %>
        </head>

        <body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>" data-resource="<%=@resourceT unless @resourceT.nil? %>">
          <%= render "layouts/header"%>
          <%= yield %>
          <% unless (user_blood_donator_signed_in? || user_blood_bank_signed_in? ) %>
          <%= render "devise/sessions/new" %>
          <%= render "layouts/footer" %>
          
          <%= render "application/modal_receive_notification" %>
          <%= render "application/modal_receive_notification_confirmation" %>
          <%= render "user_blood_donators/registrations/form_v2" %>

          <% end %>
        </body>
        </html>
