<!DOCTYPE html>
<html>
<head>
  <title>HemoHeroes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
  <%= render 'layouts/header'%>

  <div class="OuterWrapper">
    <%= yield %>
  </div>

</body>
</html>
