<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    </style>
  </head>

  <body>
   <h1>Doadores solicitados</h1>
   <p>
     Doadores tipo A+: <%= @blood_necessity.a_positive %>
     Doadores tipo A-: <%= @blood_necessity.a_negative %>
     Doadores tipo B+: <%= @blood_necessity.b_positive %>
     Doadores tipo B-: <%= @blood_necessity.b_negative %>
     Doadores tipo AB+: <%= @blood_necessity.ab_positive %>
     Doadores tipo AB-: <%= @blood_necessity.ab_negative %>
     Doadores tipo O+: <%= @blood_necessity.o_positive %>
     Doadores tipo O-: <%= @blood_necessity.o_negative %>
   </p>
   <p>
     Att,

     Equipe RubyHeroes :D
   </p>
 </body>
</html>
